@keyframes anime {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/****/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

h1,
h2,
h3,
h4,
span,
p {
  font-family: Roboto;
}

.entrees {
  opacity: 0;
  transform: translateY(20px);
  animation: anime 1s forwards;
  animation-delay: 0.5s;
}

.plats {
  opacity: 0;
  transform: translateY(20px);
  animation: anime 1s forwards;
  animation-delay: 1.5s;
}

.dessert {
  opacity: 0;
  transform: translateY(20px);
  animation: anime 1s forwards;
  animation-delay: 2.5s;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: #f6f6f6;
}

.arrow {
  position: absolute;
  font-size: 30px;
  left: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.img-menu {
  display: flex;
  height: 275px;
  width: 100%;
}

.img-menu img {
  width: 100%;
  object-fit: cover;
}

.card-h2 {
  display: flex;
  position: relative;
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  margin-top: -35px;
  background-color: #f6f6f6;
}

h2 {
  margin: 0 0 0 17px;
  font-weight: 500;
  padding-top: 30px;
  font-size: 30px;
  font-family: Shrikhand;
}

.heart1 {
  position: absolute;
  font-size: 30px;
  bottom: 35px;
  right: 50px;
  opacity: 1;
}
.heart1:hover {
  opacity: 0;
}

.heart2 {
  position: absolute;
  color: transparent;
  font-size: 32px;
  bottom: 34px;
  right: 49px;
  background-image: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  opacity: 0;
  transition: opacity 1s ease;
}
.heart2:hover {
  opacity: 1;
}

.main {
  padding: 0 15px 0 15px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.main-btn {
  display: flex;
  width: 218px;
  height: 50px;
  padding: 13px 20px;
  border-radius: 25px;
  margin-bottom: 57px;
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  color: white;
  border: none;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition-duration: 0.5s;
  cursor: pointer;
}
.main-btn:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  filter: brightness(130%);
  transition-duration: 1s;
}

.card-animation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0 5px 20px 5px;
  width: auto;
  transition: margin-right 0.3s ease;
}
.card-animation:hover {
  margin-right: 59px;
}
.card-animation .card-content {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}
.card-animation .card-content h4,
.card-animation .card-content p {
  margin: 10px 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-animation .card-price {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-weight: 700;
  font-size: 16px;
}
.card-animation .card-price p {
  padding-right: 10px;
}

.test {
  height: 69px;
  width: 385px;
  margin-left: 5px;
  background-color: #99e2d0;
  position: absolute;
  z-index: -1;
  border-radius: 15px;
}
.test .check {
  background-color: white;
  color: #99e2d0;
  position: relative;
  left: 90%;
  top: 33%;
  border-radius: 75%;
  padding: 4px;
  height: 22px;
  width: 22px;
}

section.main h3 {
  border-bottom: 5px solid #99e2d0;
  width: 40px;
  padding-bottom: 5px;
  font-weight: 300;
}

footer {
  color: white;
  background-color: #353535;
  padding-left: 30px;
  padding-bottom: 20px;
}

footer h3 {
  font-family: Shrikhand;
  padding-top: 20px;
}

footer i {
  padding-right: 10px;
}

footer {
  color: white;
  background-color: #353535;
  padding-left: 30px;
  padding-bottom: 20px;
}

footer h3 {
  font-family: Shrikhand;
  padding-top: 20px;
}

footer i {
  padding-right: 10px;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: white;
  }
  .main {
    background-color: #f6f6f6;
    margin-top: -20px;
  }
  .img-menu {
    height: 383px;
  }
  .card-h2 {
    justify-content: center;
  }
  .heart1,
  .heart2 {
    right: 30%;
  }
  .entrees,
  .plats,
  .dessert {
    max-width: 634px;
    margin: 0 auto;
  }
  .entrees .test,
  .plats .test,
  .dessert .test {
    width: 624px;
  }
  .entrees .card-animation:hover,
  .plats .card-animation:hover,
  .dessert .card-animation:hover {
    margin-right: 109px;
  }
}

/*# sourceMappingURL=style-restaurants.css.map */
