@mixin anime($delay) {
  opacity: 0;
  transform: translateY(20px);
  animation: anime 1s forwards;
  animation-delay: $delay;
}

@keyframes anime {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
