$primary: #f6f6f6;

// $btn-gradient: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
$color1: #ff79da;

$color2: #9356dc;

$btn-gradient: linear-gradient(to bottom, $color1 0%, $color2 100%);
$btn-gradient2: linear-gradient(to bottom, $color2 0%, $color1 100%);

$color3: #99e2d0;

$color4: #008766;
