@import "variables";
@import "mixin";

/****/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary;
}

h1,
h2,
h3,
h4,
span,
p {
  font-family: Roboto;
}

.arrow i {
  color: black;
}
// ANIMATION- PLATS

.entrees {
  @include anime($initial-delay);
}

.plats {
  @include anime($initial-delay + $delay-increment);
}

.dessert {
  @include anime($initial-delay + 2 * $delay-increment);
}

// HEADER

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: $primary;
}

.arrow {
  position: absolute;
  font-size: 30px;
  left: 20px;
}

.logo {
  display: flex;
  align-items: center;
  // max-width: 100%;
}

// MAIN

.img-menu {
  display: flex;
  height: 275px;
  width: 100%;
}

.img-menu img {
  width: 100%;
  object-fit: cover;
}

// H2 / HEART

.card-h2 {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  margin-top: -35px;

  background-color: $primary;
}

h2 {
  margin: 0 0 0 17px;
  font-weight: 500;
  padding-top: 30px;
  font-size: 30px;
  font-family: Shrikhand;
}

.heart {
  position: relative;
  display: flex;
  align-items: center;
  height: 35px;
  width: 35px;
  margin: 5.5%;
  top: 10%;
}

.heart1 {
  position: absolute;
  font-size: 30px;
  opacity: 1;
  &:hover {
    opacity: 0;
  }
}

.heart2 {
  position: absolute;
  color: transparent;
  font-size: 33px;

  background-image: $btn-gradient2;
  background-clip: text;
  opacity: 0;
  transition: opacity 1s ease;

  &:hover {
    opacity: 1;
  }
}

.main {
  padding: 0 15px 0 15px;
}

// BTN

.btn-container {
  display: flex;
  justify-content: center;
}

.main-btn {
  @include btn-main;
}
// RESTAURANT

.card-animation {
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  border-radius: 15px;

  .card-content {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

    h4,
    p {
      margin: 10px 0;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .card-price {
    flex-shrink: 0;
    display: flex;
    align-self: flex-end;
    font-weight: 700;
    font-size: 16px;

    p {
      padding-right: 10px;
      margin-bottom: 10px;
    }
  }

  .test {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 0;
    opacity: 0;
    height: 69px;
    background-color: #ade8d9;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    flex-shrink: 0;
  }

  .check {
    background-color: white;
    color: $color3;
    border-radius: 75%;
    padding: 4px;
    height: 22px;
    width: 22px;
  }

  &:hover .test {
    animation: extendCheck 0.5s ease forwards;
  }

  &:not(:hover) .test {
    animation: retractCheck 0.5s ease forwards;
  }
}
// test

section.main h3 {
  border-bottom: 5px solid $color3;
  width: 40px;
  padding-bottom: 5px;
  font-weight: 300;
}

// FOOTER

@include footer;

// ::::::::::

@media only screen and (min-width: 900px) {
  body {
    background-color: white;
  }

  .main {
    background-color: $primary;
    max-width: 1045px;
    margin: 0 auto;
    padding: 0;
  }

  .img-menu {
    height: 383px;
  }

  .card-h2 {
    justify-content: center;
  }

  .heart1 {
    right: 30%;
  }
  .heart2 {
    right: 29.9%;
  }

  .entrees,
  .plats,
  .dessert {
    max-width: 634px;
    margin: 0 auto;
    padding-bottom: 25px;

    .card-animation {
      &:hover {
        margin-right: 50px;
      }
    }
  }

  .main-btn {
    margin-bottom: 40px;
  }
  //  FOOTER HP
  footer {
    display: flex;
    justify-content: end;
    padding-top: 60px;
  }

  footer p {
    margin-left: 20px;
  }

  footer h3 {
    display: flex;
    order: 1;
    padding: 0;
    margin: 12px 100px 0 100px;
  }

  footer p:nth-child(3) {
    margin-right: 35px;
  }
}
