@import "variables";

/****/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $primary;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: Roboto;
}

p {
  font-family: roboto;
  font-weight: 300;
}

// HEADER

.logo {
  display: flex;
  height: 63px;
  width: 100%;
  padding-bottom: 10px;
  background-color: white;
  justify-content: center;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

// MAIN SECTION

.main-section {
  display: flex;
}

.form-location {
  display: flex;
  width: 100%;
  background-color: #eaeaea;
  justify-content: center;
  padding: 15.5px 0 15.5px 0;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.main-title {
  margin-top: 39px;
  display: flex;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

.main-p {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 0;
}
.btn-container {
  display: flex;
  justify-content: center;
}

.main-btn {
  display: flex;
  width: 218px;
  height: 50px;
  padding: 13px 20px;
  border-radius: 25px;
  margin-bottom: 57px;
  background: $btn-gradient;
  color: white;
  border: none;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

// Fonctionnement

.section-fonctionnement h2 {
  display: inline;
  justify-items: start;
}

.section-fonctionnement {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  margin-left: 15px;
}

.section-fonctionnement button {
  padding: 25px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 600;
  padding-right: 30px;
  margin-bottom: 25px;
}

.section-fonctionnement i {
  padding-left: 50px;
  padding-right: 40px;
  font-size: 20px;
}

.section-fonctionnement span {
  height: 15px;
  width: 15px;
  font-size: 18px;
  padding: 10px;
  background-color: $color2;
  border-radius: 50%;
  color: white;
}

// Restaurant

.restaurant {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
