@import "variables";

/****/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $primary;
}

//////// LOADER
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color1;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 2s ease forwards 2s;
  pointer-events: none;
}

#loader::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 5px solid #999;
  border-top: 5px solid $color3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader-text {
  margin-top: 20px;
  font-size: 24px;
  color: black;
}

body.loaded #loader {
  display: none;
}

// //////////////////////
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
span {
  font-family: Roboto;
}

p {
  font-family: roboto;
  font-weight: 300;
}

// HEADER

.logo {
  display: flex;
  height: 63px;
  width: 100%;
  padding-bottom: 10px;
  background-color: white;
  justify-content: center;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}

// MAIN SECTION

.form-location {
  display: flex;
  width: 100%;
  background-color: #eaeaea;
  justify-content: center;
  padding: 15.5px 0 15.5px 0;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.main-title {
  margin-top: 39px;
  display: flex;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

.main-p {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 0;
}
.btn-container {
  display: flex;
  justify-content: center;
}

.main-btn {
  display: flex;
  width: 218px;
  height: 50px;
  padding: 13px 20px;
  border-radius: 25px;
  margin-bottom: 57px;
  background: $btn-gradient;
  color: white;
  border: none;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition-duration: 0.5s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    filter: brightness(130%);
  }
}
// Transition main-btn

// Fonctionnement

.title-h2 {
  background-color: white;
  margin: 0;
  padding: 48px 0 20px 20px;
}

.section-fonctionnement {
  background-color: white;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 25px;
}

.section-fonctionnement i {
  // padding-left: 37px;
  padding-right: 27px;
  font-size: 20px;
  color: #7e7e7e;
}

.section-fonctionnement button:last-of-type i {
  color: $color2;
}
// A VOIR

.section-fonctionnement span {
  font-size: 16px;
  white-space: nowrap;
  font-weight: 600;
  display: flex;
}
.span-position {
  height: 24px;
  width: 24px;
  background-color: $color2;
  color: white;
  border-radius: 50%;
  // align-items: center;
  padding: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
  right: 45px;
}

.section-fonctionnement button {
  display: flex;
  padding: 35px;
  border-radius: 25px;
  border: none;
  margin-bottom: 25px;
  width: 100%;
  align-items: center;
  justify-items: flex-start;
  height: 72px;
  position: relative;
}
// Restaurant

.restaurant {
  padding-top: 25px;
  background-color: $primary;
  margin-bottom: 50px;
}

.title-restaurant {
  margin-left: 20px;
}

.card-restaurant {
  display: flex;
  flex-direction: column;
  margin: 0 15px 15px 15px;
  position: relative;
  background-color: white;
  border-radius: 25px;
  height: 320px;
}

.restaurant img {
  border-radius: 25px 25px 0 0;
  object-fit: cover;
  height: 230px;
}

// .restaurant i {
//   transition: opacity 0.3s ease;
// }

.restaurant .heart1 {
  position: absolute;
  font-size: 30px;
  bottom: 40px;
  right: 20px;
  opacity: 1;
  &:hover {
    opacity: 0;
  }
}

.restaurant .heart2 {
  position: absolute;
  color: transparent;
  font-size: 30px;
  bottom: 40px;
  right: 20px;
  background-image: $btn-gradient2;
  background-clip: text;
  opacity: 0;
  transition: opacity 1s ease;

  &:hover {
    opacity: 1;
  }
}

.restaurant p {
  margin: 0;
}

.restaurant h3 {
  margin-bottom: 0;
}

.restaurant-text {
  padding-left: 15px;
}

// .card-content {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: flex-start;
// }

.text-content {
  margin-left: 10px;
}

// .card-icon {
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
// }

.span-restaurant {
  display: flex;
  position: absolute;
  color: $color4;
  background-color: $color3;
  padding: 7px 9px;
  right: 7%;
  top: 5%;
  // font-family: roboto;
}

// FOOTER

footer {
  color: white;
  background-color: #353535;
  padding-left: 30px;
  padding-bottom: 20px;
}

footer h3 {
  font-family: Shrikhand;
  padding-top: 20px;
}

footer i {
  padding-right: 10px;
}

////////////////////////
// Média quérie PC max 1440px

// @media (min-width: 600px) and (max-width: 899px) ( a voir )

@media (min-width: 900px) {
  // *

  // .main-page {
  //   margin: 0 50px 0 50px;
  // }

  .main-title {
    justify-content: center;
    font-size: 40px;
  }

  // FONCTIONNEMENT

  .section-fonctionnement {
    flex-direction: row;
    padding: 0 180px 0 180px;
  }
  .section-fonctionnement button {
    margin-right: 25px;
  }
  .title-h2 {
    padding-left: 180px;
  }

  // RESTAURANT

  .title-restaurant {
    padding-left: 160px;
  }
  section.restaurant {
    padding: 0 160px 0 160px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 50px;
  }

  //footer

  footer {
    display: flex;
    justify-content: end;
    padding-top: 20px;
  }

  footer p {
    margin-left: 20px;
  }

  footer h3 {
    display: flex;
    order: 1;
    padding: 0;
    margin: 12px 100px 0 100px;
  }

  footer p:nth-child(3) {
    margin-right: 40px;
  }
}

// PAGE RESTAURANT
